@import "_vars";
*, html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: #000;
  display: block;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 5px 0;
  }
}


body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  min-width: 320px;
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  height: 1545px;
  max-width: 1920px;
  min-width: 780px;
  margin: 0 auto;
  border: 1px solid #000;
}

.title-red__h1 {
  @include title;
  font-weight: 500;
  color: $red;
}
.title-red__h3 {
  @include title;
  font-weight: 300;
  color: $red;
}
.title-red__h4 {
  @include title;
  font-weight: 700;
  color: $red;
}
.title-blue {
  @include title;
  color: $blue;
  font-weight: 700;
  margin: 15px;
}

.header {
  width: 100%;
  &-title {
    position: absolute;
    right: 172px;
    top: 175px;
  }
}

.nav {
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
  &::after{
    content: "";
    position: absolute;
    top: -93px;
    left: 3px;
    width: 881px;
    height: 248px;
    z-index: 5;
    transform: rotate(14deg);
    overflow: hidden;
    background-color: $red;
  }
  &::before {
    content: "";
    position: absolute;
    top: -82px;
    left: -130px;
    width: 467px;
    height: 305px;
    z-index: 4;
    transform: rotate(-35deg);
    overflow: hidden;
    background-color: $blue;
  }
}

.aside {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $grey;
  width: 37%;
  &-wrapper{
    padding: 335px 12px 0 26px;
  }
  section {
    margin-top: 50px;
  }
}

.section-skills {
  li {
    font-weight: 700;
  }
}

.avatar {
  z-index: 100;
  position: absolute;
  top: 150px;
  left: 61px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.item-1 {
  font-weight: 700;
}
.item-2 {
  font-style: italic;
  margin-left: 10px;
}

.main {
  position: absolute;
  top: 277px;
  right: 0;
  height: 100%;
  width: 63%;
  padding: 0 30px;
  h4 {
    margin: 0 12px 11px;
  }
  section {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid $grey;
  }
}

.section-about {
  p {
    line-height: 18px;
    font-size: 16px;
    font-style: italic;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-around;
  font-weight: 700;
  overflow: hidden;
  height: 100px;
  background-color: $grey;
  color: $red;
  svg {
    width: 91px;
    height: 41px;
  }
  a {
    color: $red;
  }
  
}